# Compiled files
*.class
/build
/dist
/target
/examples/target

# JUnit output
/TEST*.xml
/test*.lp
/temp*.lp

# Javadoc output
/doc

# Mac OSX
.DS_Store

# Emacs temp files
*~

# Netbeans configuration
nb-configuration.xml
