<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ni well-known">
                    <match url="^\.well-known\/ni\/sha-256\/([_\w-]{2,2})([_\w-]{2,2})([_\w-]{39,39})\s*((\?|#).*)?$" ignoreCase="false" />
                    <action type="Rewrite" url="blobs/sha256/{R:1}/{R:2}/{R:1}{R:2}{R:3}.dat" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
